body {
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 600px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 0.5rem;
    background: #fff;
}
